<h1> Group Name</h1>
<p>

	<form>
	<input name = "group_name" placeholder=<%= @placeholder_group_name %> type = "text"></input>
</form>
	<!-- <img src='assets/1.jpg' alt='dylanbuth.us' /> -->
	<%= image_tag("1.jpg") %>

	<%= check_box_tag 'help' %>
	<%= image_tag "2.jpg" %>
	<%= check_box_tag 'help' %>
	<%= image_tag "3.jpg" %>
	<%= check_box_tag 'help' %>

	<%= image_tag "awkpenguin.jpg" %>
<%= check_box_tag 'help' %>
	<%= image_tag "babyyes.jpg" %>
	<%= check_box_tag 'help' %>
	<%= image_tag "onedoesnot.jpg" %>
<%= check_box_tag 'help' %>
</p>


<%= button_to "Create Group", '/makegroup', :class => "button medium", :method => :get %>
