<%= Memer %>
<h3>Email: <%= current_memer.email if current_memer %></h3>
<h3>Memes:
	<%
		Memer.find_by_id(1).memes.each do |meme| %>
			<%= meme.name %>
			<%= meme.top_text %>
			<%= meme.bottom_text %>
		<%end%>
