<h2>Memers </h2>
<p>Name: <%= @memer.name if @memer.name %></p>
<p>Email: <%= @memer.email if @memer.email %></p>
<p>Memer:
<%
    @memer.memes.each do |meme| %>
    	<h1><%= meme.name %><h2>
        <br>
    	<%= "\n" %>
    <%end%>
    <%= image_tag "babyyes.jpg" %>
</p>
