<!-- <ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul> -->


<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Meme It", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Help",   '/' %></li>
        <% if memer_signed_in? %>
          <li><%= link_to 'Edit Your Memer', edit_memer_registration_path %></li>
          <li><%= link_to 'Log Out', destroy_memer_session_path, :method=>'delete' %></li>
        <% else %>
          <li><%= link_to 'Log In', new_memer_session_path %></li>
          <li><%= link_to 'Sign Up', new_memer_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
