<!-- <ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul> -->


<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Meme It", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Help",   '/' %></li>
        <li><%= link_to "Log in", new_memer_session_path %></li>
        <li><%= link_to "Sign up", new_memer_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>
